<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Boss01Animation_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,260}</string>
			<key>spriteSourceSize</key>
			<string>{250,260}</string>
			<key>textureRect</key>
			<string>{{0,0},{250,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Boss01Animation_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,260}</string>
			<key>spriteSourceSize</key>
			<string>{250,260}</string>
			<key>textureRect</key>
			<string>{{0,260},{250,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Boss01Animation_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,260}</string>
			<key>spriteSourceSize</key>
			<string>{250,260}</string>
			<key>textureRect</key>
			<string>{{0,520},{250,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Boss01Animation_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,260}</string>
			<key>spriteSourceSize</key>
			<string>{250,260}</string>
			<key>textureRect</key>
			<string>{{0,780},{250,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Boss01Animation.png</string>
		<key>size</key>
		<string>{250,1040}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6ce7b10cbb8b9d8ad96d0215a75e88ab:a9883c7671f8d769e901cdc9ed61d476:47c55a2ee7b22a673745eaaa6c988c25$</string>
		<key>textureFileName</key>
		<string>Boss01Animation.png</string>
	</dict>
</dict>
</plist>
