<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MouthAnimation_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{300,300}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MouthAnimation_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{300,300}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{300,0},{300,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MouthAnimation_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{300,300}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{600,0},{300,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MouthAnimation_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{300,300}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{900,0},{300,300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>MouthAnimation.png</string>
		<key>size</key>
		<string>{1200,300}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2723e5771d922933be710454e812a45f:9f987585b9a736c7ed3769131841b7ec:eda83dfa063ec3042225efd3058699bc$</string>
		<key>textureFileName</key>
		<string>MouthAnimation.png</string>
	</dict>
</dict>
</plist>
